<div class="row">
    <div class="col-12 t-sml">
      <span class="h2 text-light">PDV</span>
      <p class="text-muted">
        <small>Caixas</small>
      </p>
    </div>
    <div class="col-md-4 col-xl-3 col-6 mb-3">
      <div class="card shadow bg-primary-light">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col">
              <p class="small text-muted mb-0">Caixas Aberto</p>
              <span class="h4 mb-0 text-light t-sm">{{ caixasAbertos }}</span
              ><br />
            </div>
            <div class="col-auto hidden-sm">
              <i class="fa-solid fa-cash-register fa-2xl text-primary"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-xl-9 col-6 mb-3 d-flex justify-content-end">
      <div class="card shadow w-100 text-right h-100 bg-dark-light">
        <div class="card-body">
          <div class="row">
            <div class="col-xl-2 col-md-6 col-sm-6 col-6">
              <button
                class="btn btn-sm btn-primary w-100 t-sm"
                style="margin-right: 10px"
              >
                <i class="fa-solid fa-square-plus"></i> Abrir Caixa
              </button>
            </div>
            <div class="col-xl-2 col-md-6 col-sm-6 col-6">
              <button
                class="btn btn-sm btn-primary w-100 t-sm"
              >
                <i class="fa-solid fa-filter"></i> Filrar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 hidden-sm"><hr class="text-muted"></div>
  <div class="col-12">
    <div class="row">
      <div class="col-md-12 col-xl-12 col-12 mb-3">
        <div class="card shadow bg-dark-light">
          <div class="card-body ">
            <div class="row align-items-center">
              <div class="col">
                <div class="table-responsive">
                  <table class="table table-dark table-bordered table-hover display" id="example">
                    <thead>
                      <tr>
                        <th class="text-center hidden-sm">Cod.:</th>
                        <th class="text-center"> Operador</th>
                        <th class="text-center"> Data</th>
                        <th class="text-center"> Valor Total(R$)</th>
                        <th class="text-center"> Status</th>
                        <th class="text-center"> Ações</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of listCaixas" class="text-center">
                        <td>{{ data.Id }}</td>
                        <td>{{ data.OperadorNome }}</td>
                        <td>{{ formatDate(data.DataAbertura) }}</td>
                        <td>{{ formatMoeda(data.Valor)}}</td>
                        <td [ngClass]="{
                            'bg-success-darker': data.Status ==='Aberto',
                            'bg-danger-darker': data.Status ==='Fechado'
                        }">{{ data.Status}}</td>
                        <td>
                          <button class="btn btn-sm btn-danger" style="margin-right: 10px;">
                            <i class="fa-solid fa-trash-can"></i>
                          </button>
                          <button class="btn btn-sm btn-warning">
                            <i class="fa-solid fa-pen"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

