
    
    <nz-modal [(nzVisible)]="statusModal"
    [nzClosable]="false"
    [nzStyle]="{ 'margin-top': '-95px' }"
    [nzWidth]="modalWidth"
    [nzTitle]="modalTitleTemplate"
    [nzFooter]="null"
    (nzOnCancel)="handleCancel()" 
    (nzOnOk)="handleOk()">
      <ng-container *nzModalContent>

        
        <div *ngIf="loading" class="spinner-container">
          <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
        </div>       
        <div class="row">
          <div class="col-12">
            <form [formGroup]="financeiroForm" (ngSubmit)="novoFinanceiro('E')">
              <div class="row" style="display: flex; align-items: end;">
                <div class="col-xl-9 col-12 text-light mb-3">
                  <div class="inner-box">
                    <label>Pessoa <span class="text-danger">*</span></label><br>
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Selecione a pessoa" [(ngModel)]="selectedValue" formControlName="PessoaOrigemId" class="w-100">
                      <nz-option *ngFor="let pessoa of listPessoas" [nzValue]="pessoa.Id" [nzLabel]="pessoa.Nome"></nz-option>
                    </nz-select>
                    <div *ngIf="financeiroForm.get('PessoaOrigemId')?.invalid && financeiroForm.get('PessoaOrigemId')?.touched">
                      <small class="text-danger">Campo obrigatório</small>
                    </div>                      
                  </div>
                </div>
                <div class="col-xl-3 col-12 text-light mb-3">
                  <div class="inner-box">
                    <label>Conta</label>
                    <nz-select nzShowSearch formControlName="ContaId" class="w-100" nzAllowClear nzPlaceHolder="Selecione conta">
                      <nz-option *ngFor="let contas of listContas" [nzValue]="contas.Id" [nzLabel]="contas.Nome"></nz-option>
                    </nz-select>
                  </div>
                </div>
                <div class="col-xl-3 col-12 text-light mb-3">
                  <div class="inner-box">
                    <label>Categoria</label>
                    <nz-select nzShowSearch formControlName="CategoriaId" class="w-100" nzAllowClear nzPlaceHolder="Selecione categoria">
                      <nz-option *ngFor="let categorias of listCategorias" [nzValue]="categorias.Id" [nzLabel]="categorias.Nome"></nz-option>
                    </nz-select>
                  </div>
                </div>
                <div class="col-xl-3 col-12 text-light mb-3">
                  <div class="inner-box">
                    <label>Data<span class="text-danger">*</span></label>
                    <nz-date-picker formControlName="Dt_inc"
                      (ngModelChange)="onChange($event)"
                      [nzFormat]="'dd/MM/yyyy HH:mm:ss'"
                      style="width: 100%;">
                    </nz-date-picker>
                    <div *ngIf="financeiroForm.get('Dt_inc')?.invalid && financeiroForm.get('Dt_inc')?.touched">
                      <small class="text-danger">Campo obrigatório</small>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-12 text-light mb-3">
                  <div class="inner-box">
                    <label>Forma Pagamento</label>
                    <nz-select nzShowSearch formControlName="MetodoId" class="w-100" nzAllowClear nzPlaceHolder="Selecione">
                      <nz-option *ngFor="let pagamentos of listMetodo" [nzValue]="pagamentos.Id" [nzLabel]="pagamentos.Nome"></nz-option>
                    </nz-select>
                  </div>
                </div>                 
                <div class="col-xl-3 col-12 text-light mb-3">
                  <div class="inner-box">
                    <label>Valor(R$)<span class="text-danger">*</span></label>
                    <nz-input-number
                      formControlName="valor"
                      class="w-100"
                      [nzMin]="0.01"
                      [nzMax]="999999"
                      [nzStep]="0.01"
                      [nzFormatter]="formatterReal"
                      [nzParser]="parserReal"
                    ></nz-input-number>
                    <div *ngIf="financeiroForm.get('valor')?.invalid && financeiroForm.get('valor')?.touched">
                      <small class="text-danger">Campo obrigatório</small>
                    </div>
                  </div>
                </div>
                <div class="col-12 text-light mb-3">
                  <div class="inner-box">
                    <label>Observações</label>
                    <textarea formControlName="Obs" rows="3" nz-input></textarea>
                  </div>
                </div>
                <div class="col-12">
                  <hr>
                </div>
                <div class="col-12 text-light text-right mb-2">
                  <button class="btn btn-sm btn-success h-100 hidden-sm" type="submit"><i class="fa-solid fa-floppy-disk"></i> Salvar</button>
                  <button class="btn btn-sm btn-success w-100 view-sm" type="submit"><i class="fa-solid fa-floppy-disk"></i> Salvar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </ng-container>
    </nz-modal>
    <ng-template #modalTitleTemplate>
      <div class="d-flex justify-content-between align-items-center">
        <span>{{ tituloModal }}</span>
        <button class="btn btn-sm btn-danger" (click)="handleCancel()">X</button>
      </div>
    </ng-template>