<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <!-- <img src="../assets/img/logo-light-sm.png" alt=""> -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active">Administração</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Loja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Serviços</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Cantina</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid bg-light" style="padding-top: 80px;">
    <section id="about">
        <div class="row">
            <div class="col-12 w-100">
                <div class="row w-100">
                    <div class="col-xl-6 col-md-6 col-12" style="padding-left: 10%;">
                        <img src="../assets/img/logo-large.png" alt="" style="width: 40%;">
                        <div class="row">
                            <div class="col-12 w-100"><h2>Business Intelligence Tools</h2></div>
                            <div class="col-12 w-100 hidden-sm">
                                <p class="text-justify">
                                    A plataforma Bit - Business Intelligence Tools é projetada para pequenos empreendedores, pequenas empresas e profissionais autônomos. Oferece ferramentas intuitivas de gestão de negócios, permitindo controle eficiente de finanças, vendas e operações. Com a Bit, os usuários podem tomar decisões informadas, otimizar processos e impulsionar o crescimento de seus negócios de forma prática e acessível.
                                </p><br><br><br>
                                <button class="btn btn-primary" (click)="showModal()">Fazer Login</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-12 no-app d-flex justify-content-center">
                        <img src="../assets/img/about.gif" style="width: 90%;" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="tools" class="bg-image">
        <div class="row" style="margin-top: 80px;">
            <div class="col-12 w-100 t-sm d-flex justify-content-center">
                <div class="row w-100 ">
                  <div class="col-xl-4 col-md-4 col-sm-12 col-12 d-flex align-items-center justify-content-center">
                    <div class="card shadow bg-tr text-light animated-card" style="width: 28rem;">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-12 text-center">
                            <span class="text-primary"><strong>FINANCEIRO</strong></span>
                            <p>Contas a Pagar e Receber/Fluxo de Caixa/Planejamento</p>
                          </div>
                          <div class="col-12 d-flex justify-content-center">
                            <img src="../assets/img/mold.png" style="width: 80%;" alt="">
                          </div>
                          <div class="col-12 d-flex justify-content-center">
                            <button class="btn btn-primary"> Saiba mais...</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-md-4 col-sm-12 col-12 d-flex align-items-center justify-content-center">
                    <div class="card shadow bg-tr text-light animated-card" style="width: 28rem;">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-12 text-center">
                            <span class="text-primary"><strong class="h5">VENDAS E SERVIÇOS</strong></span>
                            <p>Pedidos de Vendas/Ordens de Serviço</p>
                          </div>
                          <div class="col-12 d-flex justify-content-center">
                            <img src="../assets/img/mold.png" style="width: 80%;" alt="">
                          </div>
                          <div class="col-12 d-flex justify-content-center">
                            <button class="btn btn-primary"> Saiba mais...</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-md-4 col-sm-12 col-12 d-flex align-items-center justify-content-center">
                    <div class="card shadow bg-tr text-light animated-card" style="width: 28rem;">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-12 text-center">
                            <span class="text-primary"><strong class="h5">VENDAS E SERVIÇOS</strong></span>
                            <p>Balanço/Estoque Mínimo/Pedido de Compra</p>
                          </div>
                          <div class="col-12 d-flex justify-content-center">
                            <img src="../assets/img/mold.png" style="width: 80%;" alt="">
                          </div>
                          <div class="col-12 d-flex justify-content-center">
                            <button class="btn btn-primary"> Saiba mais...</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>
    <section id="planos" style="padding-bottom: 5%;">
        <div class="row" style="margin-top: 80px; margin-bottom: 80px;">
            <div class="col-12 w-100">
                <div class="row w-100">
                    <div class="col-xl-4 col-md-5 col-12 f-desk" style="padding-left: 10%; padding-bottom: 10%;">
                        <div class="row">
                            <img src="../assets/img/planno.gif" alt="" class="pb-5">
                            <div class="col-12 text-home w-100 p-desk">
                                <span>
                                    Chegou a hora de evoluir seu negócio!
                                    Abandone os cadernos, bloquinhos e planilhas que não te ajudam a tomar a decisão correta e nem controlar suas finanças!
                                    O seu sucesso depende do controle do seu caixa! Venha planejar seu futuro com o BIT!
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-md-7 col-12" style="padding-left: 10%">
                        <div class="row">
                          <div class="col-xl-4 col-md-4 col-sm-12 col-12 d-flex justify-content-center" style="padding-top: 10px;">
                            <div class="card bg-primary animated-card h-100" style="width: 28rem;">
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-12 text-center">
                                    <span class="h3 text-light">FREE</span>
                                  </div>
                                  <div class="col-12">
                                    <span class="text-light"><i class="fa-solid fa-user"></i> *Acesso para 1 Usuário</span>
                                  </div>
                                  <div class="col-12 pt-3">
                                    <ul class="list-group">
                                      <li class="list-group-item bg-tr text-light text-center"><i class="fa-solid fa-money-bill-transfer"></i> Financeiro - Entradas</li>
                                      <li class="list-group-item bg-tr text-light text-center"><i class="fa-solid fa-money-bill-transfer"></i> Financeiro - Saídas</li>
                                      <li class="list-group-item bg-tr text-light text-center"><i class="fa-solid fa-file-invoice-dollar"></i> Financeiro - Contas a Pagar/Receber</li>
                                      <li class="list-group-item bg-tr text-light text-center"><i class="fa-solid fa-chart-gantt"></i> Financeiro - Fluxo de Caixa</li>
                                      <li class="list-group-item bg-tr text-light text-center"><i class="fa-solid fa-chart-line"></i> Financeiro - Planejamento</li>
                                      <li class="list-group-item bg-tr text-dark text-center"><i class="fa-solid fa-list-check"></i><s> Pedidos - Pedidos de Venda</s></li>
                                      <li class="list-group-item bg-tr text-dark text-center"><i class="fa-solid fa-list-check"></i><s> Pedidos - Pedidos de Compra</s></li>
                                      <li class="list-group-item bg-tr text-dark text-center"><i class="fa-solid fa-boxes-packing"></i> <s>Estoque - Controle de Estoque</s></li>
                                      <li class="list-group-item bg-tr text-dark text-center"><i class="fa-solid fa-boxes-packing"></i> <s>Estoque - Estoque Mínimo</s></li>
                                      <li class="list-group-item bg-tr text-dark text-center"><i class="fa-solid fa-bag-shopping"></i> <s>Site de Vendas ou Serviços</s></li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                              <div class="card-footer text-center">
                                <button class="btn btn-warning">Acesso FREE Saiba mais...</button>
                              </div>
                            </div>
                          </div>
                          <div class="col-xl-4 col-md-4 col-sm-12 col-12 d-flex justify-content-center" style="padding-top: 10px;">
                            <div class="card bg-primary animated-card" style="width: 28rem;">
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-12 text-center">
                                    <span class="h3 text-light">STANDARD</span>
                                  </div>
                                  <div class="col-12">
                                    <span class="text-light"><i class="fa-solid fa-user"></i> *Acesso para 3 Usuários</span>
                                  </div>
                                  <div class="col-12 pt-3">
                                    <ul class="list-group">
                                      <li class="list-group-item bg-tr text-light text-center"><i class="fa-solid fa-money-bill-transfer"></i> Financeiro - Entradas</li>
                                      <li class="list-group-item bg-tr text-light text-center"><i class="fa-solid fa-money-bill-transfer"></i> Financeiro - Saídas</li>
                                      <li class="list-group-item bg-tr text-light text-center"><i class="fa-solid fa-file-invoice-dollar"></i> Financeiro - Contas a Pagar/Receber</li>
                                      <li class="list-group-item bg-tr text-light text-center"><i class="fa-solid fa-chart-gantt"></i> Financeiro - Fluxo de Caixa</li>
                                      <li class="list-group-item bg-tr text-light text-center"><i class="fa-solid fa-chart-line"></i> Financeiro - Planejamento</li>
                                      <li class="list-group-item bg-tr text-light text-center"><i class="fa-solid fa-list-check"></i> Pedidos - Pedidos de Venda</li>
                                      <li class="list-group-item bg-tr text-light text-center"><i class="fa-solid fa-list-check"></i> Pedidos - Pedidos de Compra</li>
                                      <li class="list-group-item bg-tr text-light text-center"><i class="fa-solid fa-boxes-packing"></i> Estoque - Controle de Estoque</li>
                                      <li class="list-group-item bg-tr text-light text-center"><i class="fa-solid fa-boxes-packing"></i> Estoque - Estoque Mínimo</li>
                                      <li class="list-group-item bg-tr text-dark text-center"><i class="fa-solid fa-bag-shopping"></i> <s>Site de Vendas ou Serviços</s></li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                              <div class="card-footer text-center">
                                <button class="btn btn-warning">R$ 9,99 (mês) Saiba mais...</button>
                              </div>
                            </div>
                          </div>
                          <div class="col-xl-4 col-md-4 col-sm-12 col-12 d-flex justify-content-center" style="padding-top: 10px;">
                            <div class="card bg-primary animated-card" style="width: 28rem;">
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-12 text-center">
                                    <span class="h3 text-light">MASTER</span>
                                  </div>
                                  <div class="col-12">
                                    <span class="text-light"><i class="fa-solid fa-user"></i> *Acesso para 5 Usuários</span>
                                  </div>
                                  <div class="col-12 pt-3">
                                    <ul class="list-group">
                                      <li class="list-group-item bg-tr text-light text-center"><i class="fa-solid fa-money-bill-transfer"></i> Financeiro - Entradas</li>
                                      <li class="list-group-item bg-tr text-light text-center"><i class="fa-solid fa-money-bill-transfer"></i> Financeiro - Saídas</li>
                                      <li class="list-group-item bg-tr text-light text-center"><i class="fa-solid fa-file-invoice-dollar"></i> Financeiro - Contas a Pagar/Receber</li>
                                      <li class="list-group-item bg-tr text-light text-center"><i class="fa-solid fa-chart-gantt"></i> Financeiro - Fluxo de Caixa</li>
                                      <li class="list-group-item bg-tr text-light text-center"><i class="fa-solid fa-chart-line"></i> Financeiro - Planejamento</li>
                                      <li class="list-group-item bg-tr text-light text-center"><i class="fa-solid fa-list-check"></i> Pedidos - Pedidos de Venda</li>
                                      <li class="list-group-item bg-tr text-light text-center"><i class="fa-solid fa-list-check"></i> Pedidos - Pedidos de Compra</li>
                                      <li class="list-group-item bg-tr text-light text-center"><i class="fa-solid fa-boxes-packing"></i> Estoque - Controle de Estoque</li>
                                      <li class="list-group-item bg-tr text-light text-center"><i class="fa-solid fa-boxes-packing"></i> Estoque - Estoque Mínimo</li>
                                      <li class="list-group-item bg-tr text-light text-center"><i class="fa-solid fa-bag-shopping"></i> Site de Vendas ou Serviços</li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                              <div class="card-footer text-center">
                                <button class="btn btn-warning">R$ 19,99 (mês)  - Saiba mais...</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()" [nzFooter]="null" nzCloseIcon="">
  <ng-container *nzModalContent>
    <div class="modal-content">
      <app-login></app-login>
    </div>
  </ng-container>
</nz-modal>

