<div class="row">
  <div class="col-12 d-flex justify-content-end">
    <button class="btn btn-primary  mr-10" title="Notificações"><i class="fa-solid fa-bell"></i></button>
    <button class="btn btn-primary  mr-10" title="Atalhos Rápidos"><i class="fa-solid fa-table"></i></button>
  </div>
  <div class="col-12">
    <span class="h4 text-light">Seja bem vindo... </span><br>
    <small class="text-muted">Acesso Rápido</small>
  </div>
  <div class="col-12">
    <div class="row">
      <div class=" col-xl-4 col-md-6 col-sm-12 col-12 mt-3 ">
        <div class="card bg-dark-light">
          <div class="card-body">
            <div class="row">
              <div class="col-4">
                propaganda 1
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=" col-xl-8 col-md-6 col-sm-12 col-12 mt-3 ">
        <div class="card bg-dark-light">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                propaganda 2
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=" col-xl-6 col-md-6 col-sm-12 col-12 mt-3">
        <div class="card bg-dark-light h-100">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <app-fluxo-anual></app-fluxo-anual>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=" col-xl-6 col-md-6 col-sm-12 col-12 mt-3">
        <div class="card bg-dark-light h-100">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <app-categoria-anual></app-categoria-anual>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
