<div class="row">
  <div class="col-12">
    <span class="h4 text-light">Seja bem vindo... </span><br>
    <small class="text-muted">Acesso Rápido</small>
  </div>
  <div class="col-12 d-flex justify-content-start">
    <div class="row col-2 m-3">
      <button class="btn btn-sm btn-primary">Novo Financeiro</button>
    </div>
    <div class="row col-2 m-3">
      <button class="btn btn-sm btn-primary">Nova Venda</button>
    </div>
    <div class="row col-2 m-3">
      <button class="btn btn-sm btn-primary">Nova Compra</button>
    </div>
    <div class="row col-2 m-3">
      <button class="btn btn-sm btn-primary">PDV (Caixa)</button>
    </div>
    <div class="row col-2 m-3">
      <button class="btn btn-sm btn-primary">Relatórios</button>
    </div>
  </div>
</div>
