<div class="row">
  <div class="col-12">
    <span class="h4 text-light">Seja bem vindo... </span><br>
    <small class="text-muted">Acesso Rápido</small>
  </div>
  <div class="col-12">
    <div class="row">
      <div class=" col-xl-2 col-md-2 col-sm-6 col-6 mt-3 ">
        <button class="btn btn-sm btn-primary w-100">
          <div class="row">
            <div class="col-3 d-center"><i class="fa-solid fa-square-plus"style="padding-left: 10px;"></i></div>
            <div class="col-9 d-start">Financeiro</div>
          </div>
        </button>
      </div>
      <div class=" col-xl-2 col-md-2 col-sm-6 col-6 mt-3 ">
        <button class="btn btn-sm btn-primary w-100">
          <div class="row">
            <div class="col-3 d-center"><i class="fa-solid fa-square-plus"style="padding-left: 10px;"></i></div>
            <div class="col-9 d-start">Venda</div>
          </div>
        </button>
      </div>
      <div class=" col-xl-2 col-md-2 col-sm-6 col-6 mt-3 ">
        <button class="btn btn-sm btn-primary w-100">
          <div class="row">
            <div class="col-3 d-center"><i class="fa-solid fa-square-plus"style="padding-left: 10px;"></i></div>
            <div class="col-9 d-start">Compra</div>
          </div>
        </button>
      </div>
      <div class=" col-xl-2 col-md-2 col-sm-6 col-6 mt-3 ">
        <button class="btn btn-sm btn-primary w-100">
          <div class="row">
            <div class="col-3 d-center"><i class="fa-solid fa-cash-register"style="padding-left: 10px;"></i></div>
            <div class="col-9 d-start">PDV</div>
          </div>
        </button>
      </div>
      <div class=" col-xl-2 col-md-2 col-sm-6 col-6 mt-3 ">
        <button class="btn btn-sm btn-primary w-100">
          <div class="row">
            <div class="col-3 d-center"><i class="fa-solid fa-chart-pie"style="padding-left: 10px;"></i></div>
            <div class="col-9 d-start">Fluxo</div>
          </div>
        </button>
      </div>
      <div class=" col-xl-2 col-md-2 col-sm-6 col-6 mt-3 ">
        <button class="btn btn-sm btn-primary w-100">
          <div class="row">
            <div class="col-3 d-center"><i class="fa-solid fa-file-export"style="padding-left: 10px;"></i></div>
            <div class="col-9 d-start">Relatórios</div>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
