<div class="row">
  <div class="col-12 hidden-sm"><span class="h2 text-light">Bem vindo...</span><p class="text-muted"><small>Home</small></p></div>
  <div class="col-12 hidden-sm"><hr class="text-muted"></div>
  <div class="col-12">
      <div class="row">
        <span class="text-light">Resumo Finacneiro</span>
        <p class="small text-muted">Valores referentes ao mês de {{mesAtual}}</p>
          <div class="col-md-4 col-xl-4 col-6 mb-3">
            <div class="card shadow">
              <div class="card-body bg-success-light">
                <div class="row align-items-center">
                  <div class="col">
                    <p class="small text-muted mb-0">Receitas</p>
                    <span class="h4 mb-0 text-light t-sm">{{vrReceitas}}</span><br>
                    <span class="text-light">{{prReceitas}} %</span>
                  </div>
                  <div class="col-auto hidden-sm">
                    <i class="fa-solid fa-square-plus fa-2xl text-success"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xl-4 col-6 mb-3">
            <div class="card shadow">
              <div class="card-body bg-danger-light">
                <div class="row align-items-center">
                  <div class="col">
                    <p class="small text-muted mb-0">Despesas</p>
                    <span class="h4 mb-0 text-light t-sm">{{vrDespesas}}</span><br>
                    <span class="text-light">{{prDespesas}} %</span>
                  </div>
                  <div class="col-auto hidden-sm">
                    <i class="fa-solid fa-square-minus fa-2xl text-danger"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xl-4 col-12 mb-3">
            <div class="card shadow">
              <div class="card-body bg-info-light">
                <div class="row align-items-center">
                  <div class="col">
                    <p class="small text-muted mb-0">Saldo</p>
                    <span class="h4 mb-0 text-light t-sm">{{vrSaldo}}</span><br>
                    <span class="text-light">{{prSaldo}} %</span>
                  </div>
                  <div class="col-auto">
                    <i class="fa-solid fa-file-invoice-dollar fa-2xl text-info"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-xl-8 col-12">
        <div class="card h-100">
          <div class="card-title text-center text-light">
            {{anoAtual}}
          </div>
          <div class="card-body bg-tr">
            <canvas class="w-100 h-100" #grFluxoAnual></canvas>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-12">
        <div class="card h-100">
          <div class="card-title text-center text-light">
            {{mesAtual}}
          </div>
          <div class="card-body bg-tr">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-title text-light text-center">
                    Receitas
                  </div>
                  <div class="card-body bg-success-light text-right">
                    <div class="row text-light">
                      <div class="col-6">Vendas:</div>
                      <div class="col-6">{{vrVendas}}</div>
                      <div class="col-6">Serviços:</div>
                      <div class="col-6">{{vrServicosR}}</div>
                      <div class="col-6">Lançamentos Financeiros:</div>
                      <div class="col-6">{{vrLancFinanceiroR}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <hr class="text-muted">
              </div>
              <div class="col-12">
                <div class="card">
                  <div class="card-title text-light text-center">
                    Despesas
                  </div>
                  <div class="card-body bg-danger-light text-right">
                    <div class="row text-light">
                      <div class="col-6">Compras:</div>
                      <div class="col-6">{{vrCompras}}</div>
                      <div class="col-6">Serviços:</div>
                      <div class="col-6">{{vrServicosD}}</div>
                      <div class="col-6">Lançamentos Financeiros:</div>
                      <div class="col-6">{{vrLancFinanceiroD}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <hr class="text-muted">
              </div>
              <div class="col-12">
                <div class="card">
                  <div class="card-title text-light text-center">
                    Contas
                  </div>
                  <div class="card-body bg-info-light text-right">
                    <div class="row text-light">
                      <div class="col-6">Pagar:</div>
                      <div class="col-6">{{vrPagar}}</div>
                      <div class="col-6">Receber:</div>
                      <div class="col-6">{{vrReceber}}</div>
                      <div class="col-6">Saldo Futuro:</div>
                      <div class="col-6">{{vrSaldoF}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- <div class="col-12">
      <div id="slide-content"></div>
  </div> -->
</div>
