<div class="row mt-5">
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <a href="/admin-about" routerLinkActive="router-link-active">Admin</a>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <a href="/dinner-about" routerLinkActive="router-link-active">Dinner</a>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
    <div class="col-3"></div>
</div>