.bg-dark-light{
  background-color: #363e4552 !important;
}

.bg-success-light{
  background-color: #19875425 !important;
}

.bg-success-darker{
  background-color: #2a3a37 !important;
}


.bg-danger-light{
  background-color: #dc354636 !important;
}

.bg-danger-darker{
  background-color: #4c2d36 !important;
}

.bg-warning-light{
  background-color: #d2f70042 !important;
}

.bg-warning-darker{
  background-color: #556125 !important;
}

.bg-info-light{
  background-color: #0dcaf036 !important;
}

.bg-info-darker{
  background-color: #314e5a !important;
}

.bg-tr{
  background-color: #62656800 !important;
}

.text-right{
  text-align: right !important;
}

.text-left{
  text-align: left !important;
}

@media (max-width: 768px) {
  .hidden-sm {
    display: none !important;
  }

  .t-sml{
    font-size: smaller;
  }

  .t-sm{
    font-size: small;
  }
}

@media (min-width: 768px) {
  .view-sm {
    display: none !important;
  }

  .t-sml{
    font-size: smaller;
  }

  .t-sm{
    font-size: small;
  }
}

@media (min-width: 768px) {
  .h-lg{
    height: 300px !important;
  }
}

.spinner-container {
  position: fixed !important;
  top: 45% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: 1000 !important;
}


.bg-image {
  background-image: url('./assets/img/wall.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

/* --apenas para monitores maiores */
@media (min-width: 768px) {
  .f-desk{
    display: flex;
    justify-content: start;
    flex-direction:column;
  }
}

/* --apenas para monitores menores */
@media (max-width: 767px) {
  .no-app{
    display: none !important;
  }
}

.animated-card {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease-out forwards;
  animation-delay: calc(0.1s * var(--animation-order));
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.col-4:nth-child(1) {
  --animation-order: 1;
}

.col-4:nth-child(2) {
  --animation-order: 2;
}

.col-4:nth-child(3) {
  --animation-order: 3;
}


.border-none{
  border-width: 0px !important;
}

.fixed-column {
  position: sticky;
  left: 0;
  background-color: white; /* Para evitar que o conteúdo se sobreponha */
  z-index: 9999;
  border-right: 1px solid #ddd; /* Opcional: adicionar uma borda direita para destacar a coluna fixa */
}
