.bg-dark-light{
  background-color: #363e4552;
}

.bg-success-light{
  background-color: #1987542f;
}

.bg-danger-light{
  background-color: #dc354636;
}

.bg-warning-light{
  background-color: #d2f70042;
}

.bg-info-light{
  background-color: #0dcaf036;
}

.bg-tr{
  background-color: #6265681c;
}


.text-right{
  text-align: right !important;
}
@media (max-width: 768px) {
  .hidden-sm {
    display: none !important;
  }

  .t-sml{
    font-size: smaller;
  }

  .t-sm{
    font-size: small;
  }
}

@media (min-width: 768px) {
  .h-lg{
    height: 300px !important;
  }
}

.spinner-container {
  position: fixed !important;
  top: 45% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: 1000 !important;
}

.home{
  display: flex;
  justify-content: start;
  margin-top: 50px;
  margin-left: 20%;
}

.home-2{
  margin-left: 20%;
  padding-top: 1%;
  display: flex;
  align-items: start;
  justify-content: start;
}

.text-home{
  width: 80%;
  text-align: justify;
}

.bg-image {
  background-image: url('./assets/img/wall.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

/* --apenas para monitores maiores */
@media (min-width: 768px) {
  .f-desk{
    display: flex;
    justify-content: start;
    flex-direction:column;
  }
}

/* --apenas para monitores menores */
@media (max-width: 767px) {
  .no-app{
    display: none;
  }
}

.animated-card {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease-out forwards;
  animation-delay: calc(0.1s * var(--animation-order));
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.col-4:nth-child(1) {
  --animation-order: 1;
}

.col-4:nth-child(2) {
  --animation-order: 2;
}

.col-4:nth-child(3) {
  --animation-order: 3;
}


